@tailwind base;

@tailwind components;

@tailwind utilities;


body{
  font-family: 'Noto Sans', sans-serif;
  background-color: #b0d8cf;
}


#root{
  margin: 0;
  padding: 0;
  max-width: 3000px;
}

h1{
  font-family: 'Dancing Script', cursive;
}
